@model Goldvine_University.Models.ViewModel.LecturerRegisterViewModel

@{
    ViewData["Title"] = "Lecturer Profile";
}
<div class="home-bg">
    <div class="transparent"></div>
    @*<img src="/img/home-bg.jpg" />*@
</div>
<br />
<br />
<br />
<div class="container">
    <h1 class="text-info text-center">Lecturer Profile</h1>
<div class="profile-table border">
    <div class="image-output" > 
    @*<img src="" style="width:8rem; height:8rem; border-radius:.5rem;"/>*@

</div>
<table class="fixed_headers table table-striped text-light" style="width:30rem;">
  <tbody>
    <tr>
      <td class="title text-light">Full Name :</td>
      <td class="text-light">@Model.FullName</td>
    </tr>    

     <tr>
      <td  class="title text-light">Gender :</td>
      <td class="text-light">@Model.Gender</td>
    </tr> 

     <tr>
      <td  class="title text-light">Date Of Birth :</td>
      <td class="text-light">@Model.DOB</td>
    </tr> 
    
     <tr>
      <td  class="title text-light">Registration Number :</td>
      <td class="text-light">@Model.RegNumber</td>
    </tr>  
     <tr>
      <td  class="title text-light">Faculty :</td>
      <td class="text-light">@Model.Faculty</td>
    </tr> 

     <tr>
      <td  class="title text-light">DepartMent :</td>
      <td class="text-light">@Model.Department</td>
    </tr> 

     <tr>
      <td  class="title text-light">Email Address :</td>
      <td class="text-light">@Model.Email</td>
    </tr> 
  </tbody>
</table>

</div>
</div>